{
	"plugins": [],
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"endOfLine": "auto",
	"importOrder": [
		"^react$",
		"^react",
		"^api(.*)$",
		"^assets(.*)$",
		"^components(.*)$",
		"^contexts(.*)$",
		"^data(.*)$",
		"^hooks(.*)$",
		"^layout(.*)$",
		"^media(.*)$",
		"^menu-items(.*)$",
		"^pages(.*)$",
		"^routes(.*)$",
		"^sections(.*)$",
		"^themes(.*)$",
		"^utils(.*)$",
		"^config(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
